SUPABASE_URL=https://lipnyscvmtyxgimhxtbr.supabase.co
SUPABASE_ANON_KEY=sb_publishable_-bBhU42ZRt2_JJ7eXKwFcg_moEDWs4b
UPSTASH_REDIS_REST_URL=https://positive-cougar-178951.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAArsHAAIgcDFlZGU0YTY1OWYyNDQ0NGU2ODZmODE2ZjMzNGFjYmEyZg
