SUPABASE_URL=https://tocqrmoovhawvgjmrqxo.supabase.co
SUPABASE_ANON_KEY=sb_publishable_CmUP96C03KSnSmUK_i3ygg_QRosT3mx
UPSTASH_REDIS_REST_URL=https://positive-cougar-178951.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAArsHAAIgcDFlZGU0YTY1OWYyNDQ0NGU2ODZmODE2ZjMzNGFjYmEyZg
